@height: 300px;
@width: @height;
@black: #000000;
@red: #f00;
//$lamaie: yellowgreeen;
.square {
  height: @height;
  width: @width;
}

.changelogtablecontainer{
  padding : 10px;
  border-radius: 15px;
  background-color: yellowgreen;
}

#changelogTable {

  thead {

    color:black;
    font-size:14px;
    tr{border-radius: 10px;
       th{
         text-align: left;
         background-color: #44444a;
         background-color: #8FAB56;
         color: white;
       }
    }
  }  
  tbody{
    tr.odd{
      background-color:#e7ec9a;
      td{
        border: 1px solid gold;
        color:red;
        font-size: 12px;
      }
    }
    tr.even{
      background-color: #c9dcde;
      td{
        border: 1px solid gold;
        color:red;
      }
    }
  }
}

#pagerChangelog{
  top:0 !important;
  padding: 0px;
}

.remove_padding{
  padding: 0 !important;
}

.account_picture{
  width:240px;
  height:240px;
  background-color: #b694a1;
}