@albastru-verzui: #CCF3DC;

@height: 300px;
@width: @height;
@black: #000000;
@red: #f00;
//$lamaie: yellowgreeen;
.square {
  height: @height;
  width: @width;
}

.changelogtablecontainer{
  padding : 10px;
  border-radius: 15px;
  background-color: yellowgreen;
}

#changelogTable {

  thead {

    color:black;
    font-size:14px;
    tr{border-radius: 10px;
       th{
         text-align: left;
         background-color: #44444a;
         background-color: #8FAB56;
         color: white;
       }
    }
  }  
  tbody{
    tr.odd{
      background-color:#e7ec9a;
      td{
        border: 1px solid gold;
        color:red;
        font-size: 12px;
      }
    }
    tr.even{
      background-color: #c9dcde;
      td{
        border: 1px solid gold;
        color:red;
      }
    }
  }
}

#pagerChangelog{
  top:0 !important;
  padding: 0px;
}

.remove_padding{
  padding: 0 !important;
}
.unpadded{

  padding: 0 !important;
}
.overflowhidden {
  overflow: hidden;

}
.account_picture{
  @div_width: 100%;
  width:@div_width;
  height: 75%@div_width;
  background-color: #b694a1;
  overflow: hidden;

  .image{
    width:100%;
    height: 100%;
    overflow: hidden;
  }
  .button{
    overflow: hidden;
    color:black;
    text-decoration: none;
    background-color: @albastru-verzui;
    @button-width: @div_width / 4;
    @button-height: @div_width / 8;
    width: @button-width;
    height: @button-height;
    position: absolute;
    margin-top: -@div_width / 10.75;
    margin-left: @div_width - @button-width;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-left: 1px solid white;
    border-top: 2px solid white;
    text-align: center;
    padding-left:5px;
    padding-top: 2px;
  }

}

.account_level_information{
  @media screen and (min-width: 600px){ 
    border-radius: 10px;
    margin:10px auto;
    margin-top: 0;
    @div_width: 100%;
    width:@div_width;
    text-align: center;
    padding: 30px;
    background-color: @albastru-verzui;
    border: 1px solid activecaption;
  }
  @media screen and (max-width: 599px){
    display:none;
  }
}

.account_info{
  @media screen and (min-width: 600px){ 
    background-color: @albastru-verzui;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid activecaption;
  }
  @media screen and (max-width: 599px){
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 1;
    background-color: @albastru-verzui;
  }

}
#latestPostTable {
  .user{
    max-width: 70px;
    padding: 0px;
    margin: 0px;
    .name{
      margin: 0px;
      padding: 0px;
      font-weight: bold;
      color: white;
      text-align: center;
      vertical-align: center;
      border-radius: 5px;
    }
    .logo{
      margin: 0px;
      margin-top :1px;
      width:25px;
      height:25px;
      border-radius: 3px;
    }
  }
  .align_left{
  text-align: left;
  font-weight: bold;
  }
  
}

.account_picture_view_user{
  text-align: center;
  margin: 0px auto;
  @div_width: 50%;
  width:@div_width;
  height: 75%@div_width;
  background-color: #b694a1;
  overflow: hidden;

  .image{
    width:100%;
    height: 100%;
    overflow: hidden;
  }
  .button{
    overflow: hidden;
    color:black;
    text-decoration: none;
    background-color: @albastru-verzui;
    @button-width: @div_width / 4;
    @button-height: @div_width / 8;
    width: @button-width;
    height: @button-height;
    position: absolute;
    margin-top: -@div_width / 10.75;
    margin-left: @div_width - @button-width;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-left: 1px solid white;
    border-top: 2px solid white;
    text-align: center;
    padding-left:5px;
    padding-top: 2px;
  }

}